*.root
*.log
*.xml
*.png
*.pdf
*.svg
*.eps

*.html
*.csv
*.pickle
*.zip

*ARCHIVE*

# python
*.pyc
__pycache__/*
*.npy

# atom remote-sync
.remote*.json

# SWAN
.sys.v*
.swanproject

# files created automatically by aliroot when in grid mode
myAnalysis.C
myTask.sh
myTask.jdl
myTask_validation.sh
myTask_merge.C
myTask_merge.jdl
myTask_merge.sh
myTask_merge_final.jdl
myTask_validation_merge.sh
stderr
stdout
wn.xml

*nogit*
